/* General */

.container {
  width: 960px;
}

#map-container { height: 375px; }
/* Header */

.header {
  background-color: rgba(255, 255, 255, 0.95);
  border-bottom: 1px solid #ddd;
  
  font-family: 'Oswald', Helvetica, Arial,'LiHei Pro', '新細明體',sans-serif;
  font-weight: 310;
  
  font-size: 17px;
  padding: 13px;
}


/* Menu */ 

.header .menu {
  float: right;
  list-style: none;
  margin-top: 5px;
  margin-right:20px;
}

.menu > li {
  display: inline;
  padding-left: 20px;
  padding-right: 20px;
}

.menu a {
  color: #5F5F5F;
/*#898989;*/
}

/* Dropdown */

.dropdown-menu {
  margin: -20px;
  font-size: 16px;
  max-width: auto;
}

.dropdown-menu li a {
  text-align: center;
  color: #5F5F5F;
  padding: auto;
  font-weight: 300;
}


/* Carousel */

.slider {
  position: relative;
  width: 100%;
  height: 470px;
  border-bottom: 1px solid #ddd;
}

.slide {
  background: transparent url('http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/flipboard/feature-gradient-transparent.png') center center no-repeat;
  background-size: cover;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.active-slide {
    display: block;
}

.slide-copy h1 {
  color: #363636;  
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 40px;
  margin-top: 105px;
  margin-bottom: 0px;
}

.slide-copy h2 {
  color: #515151;
  /*#b7b7b7;*/
  font-family: Impact, 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 36px;
  margin-top: 8px;
}

.slide-copy p {
  color: #353535;
  font-family: 'Microsoft JhengHei','LiHei Pro','PMingLiU', "Times New Roman", Georgia, Helvetica, Arial, serif;
  font-size: 1.2em;
  line-height: 1.3em;
  margin-bottom: 5px;
  margin-top: 5px;
  font-weight:300;
}

.slide-img {
  text-align: right;
}

/* Slide feature */

.slide-feature {
  text-align: center;
  background: url('../img/cover.jpg') center center no-repeat;
  background-size: cover;
  height: 470px;
}

.slide-feature img {
  margin-top: auto;
  background-size: cover;
}

.slide-feature a {
  display: block;
  color: #6fc5e0;
  
  font-family: "HelveticaNeueMdCn", Helvetica, sans-serif;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  
  font-size: 20px;
}

.slider-nav {
  text-align: center;
  margin-top: 5px;
}

.arrow-prev {
  margin-right: 45px;
  display: inline-block;
  vertical-align: top;
  margin-top: 9px;
}

.arrow-next {
  margin-left: 45px;
  display: inline-block;
  vertical-align: top;
  margin-top: 9px;
}

.slider-dots {
  list-style: none;
  display: inline-block;
  padding-left: 0;
  margin-bottom: 0;
}

.slider-dots li {
  color: #bbbcbc;
  display: inline;
  font-size: 30px;
  margin-right: 5px;
}

.slider-dots li.active-dot {
  color: #363636;
}

/* App links */

.get-app {
  list-style: none;
  padding-bottom: 9px;
  padding-left: 0px;
  padding-top: 9px;
}

.get-app li {
  float: left;
  margin-bottom: 5px;
  margin-right: 5px;
}

.get-app img {
  height: 40px;
}

#bible{
  color: #000000;
  font-family: 'DFKai-SB','Microsoft JhengHei','LiHei Pro','PMingLiU', "Times New Roman", Georgia, Helvetica, Arial, serif;
  font-size: 1.1em;
  font-weight:bold;
}

#meet{
  font-family: 'Microsoft JhengHei','LiHei Pro','PMingLiU', "Times New Roman", Georgia, Helvetica, Arial, serif;
  margin:auto;
}

.footer 
{
  position: fixed;
  bottom: 0;
  width: 100%;
  /*position: relative;*/
  margin-top: auto;
  height: 50px;
  clear:both;
  padding-top:6px;
  color:#fff;
} 

.table {
    width:100%;
}

.table, td {
  font-family: 'simhei','LiHei Pro','PMingLiU', "Times New Roman", Georgia, Helvetica, Arial, serif;
  color:#000000;
  margin:auto;
  font-size:12px;
}

/*#phead{
  background-color:#3366CC;
  color:white;
}*/

#pbody{
  position: relative;
  margin-bottom:-20px;
}

body { padding-bottom: 70px; }
